*~
#*
*#
.#*
.classpath
.project
.settings
.springBeans
.gradle
build
bin
target/
.idea
*.iml
*.ipr
*.iws
.factorypath
.flattened-pom.xml
*.log

node
node_modules
build
package.json
package-lock.json
