<?xml version="1.0" encoding="UTF-8"?>
<?asciidoc-toc?>
<?asciidoc-numbered?>
<book xmlns="http://docbook.org/ns/docbook" xmlns:xl="http://www.w3.org/1999/xlink" version="5.0" xml:lang="en">
<info>
<title>Spring Cloud Release Train</title>
<date>2020-07-12</date>
</info>
<preface>
<title></title>
<simpara>Spring Cloud Release Train is a curated set of dependencies across a
range of Spring Cloud projects. You consume it by using the
spring-cloud-dependencies POM to manage dependencies in Maven or
Gradle. The release trains have names, not versions, to avoid
confusion with the sub-projects. The names are an alphabetic sequence
(so you can sort them chronologically) with names of London Tube
stations ("Angel" is the first release, "Brixton" is the second).</simpara>
</preface>
<chapter xml:id="_using_spring_cloud_dependencies_with_spring_io_platform">
<title>Using Spring Cloud Dependencies with Spring IO Platform</title>
<simpara>The Spring IO Platform is a modular, enterprise-grade curated set of dependencies. To use the Spring Cloud Starters with Spring IO Platform, you must import the Spring Cloud Dependencies bill of materials (BOM) first.</simpara>
<simpara>To use version Cairo-SR3 of the Spring IO Platform and Spring Cloud Release Train Greenwich.BUILD-SNAPSHOT with Maven, update the pom.xml as follows:</simpara>
<programlisting language="xml" linenumbering="unnumbered">&lt;dependencyManagement&gt;
    &lt;dependencies&gt;
        &lt;dependency&gt;
            &lt;groupId&gt;org.springframework.cloud&lt;/groupId&gt;
            &lt;artifactId&gt;spring-cloud-dependencies&lt;/artifactId&gt;
            &lt;version&gt;Greenwich.BUILD-SNAPSHOT&lt;/version&gt;
            &lt;type&gt;pom&lt;/type&gt;
            &lt;scope&gt;import&lt;/scope&gt;
        &lt;/dependency&gt;
        &lt;dependency&gt;
            &lt;groupId&gt;io.spring.platform&lt;/groupId&gt;
            &lt;artifactId&gt;platform-bom&lt;/artifactId&gt;
            &lt;version&gt;Cairo-SR3&lt;/version&gt;
            &lt;type&gt;pom&lt;/type&gt;
            &lt;scope&gt;import&lt;/scope&gt;
        &lt;/dependency&gt;
    &lt;/dependencies&gt;
&lt;/dependencyManagement&gt;</programlisting>
<note>
<simpara>The Spring Cloud Dependencies BOM must go first, so that its dependencies have precedence of the Spring IO Platform dependencies.</simpara>
</note>
<simpara>For gradle, update the build.gradle as follows:</simpara>
<programlisting language="groovy" linenumbering="unnumbered">buildscript {
	repositories {
		mavenCentral()
	}
	dependencies {
		classpath("org.springframework.boot:spring-boot-gradle-plugin:2.1.12.RELEASE")
	}
}

apply plugin: 'spring-boot'

dependencyManagement {
	imports {
		mavenBom "org.springframework.cloud:spring-cloud-dependencies:Greenwich.BUILD-SNAPSHOT"
		mavenBom 'io.spring.platform:platform-bom:Cairo-SR3'
	}
}</programlisting>
<note>
<simpara>Spring Cloud is released under the non-restrictive Apache 2.0 license. If you would like to contribute to this section of the documentation or if you find an error, please find the source code and issue trackers in the project at {github-project}[github].</simpara>
</note>
</chapter>
</book>